imagesToCheck/*
python/tags

# vim files
# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# h5 weights
*.h5

# files
chromedriver
