absl-py==0.5.0
astor==0.7.1
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
backports.weakref==1.0.post1
bleach==1.5.0
configobj==5.0.6
cycler==0.10.0
decorator==4.3.0
docutils==0.14
EasyProcess==0.2.3
enum34==1.1.6
funcsigs==1.0.2
futures==3.2.0
gast==0.2.0
grpcio==1.15.0
h5py==2.8.0
html5lib==0.999999999
imageio==2.4.1
ipdb==0.11
ipython==5.8.0
ipython-genutils==0.2.0
kiwisolver==1.0.1
Markdown==2.6.11
matplotlib==2.2.3
mock==2.0.0
numpy==1.14.5
opencv-python==3.4.3.18
pathlib2==2.3.2
pbr==4.2.0
pexpect==4.6.0
pickleshare==0.7.4
Pillow==5.2.0
pkg-resources==0.0.0
prompt-toolkit==1.0.15
protobuf==3.6.1
ptyprocess==0.6.0
pybase64==0.4.0
Pygments==2.2.0
pyparsing==2.2.1
python-dateutil==2.7.3
pytz==2018.5
PyVirtualDisplay==0.2.1
scandir==1.9.0
scipy==1.1.0
selenium==3.14.1
simplegeneric==0.8.1
six==1.11.0
statistics==1.0.3.5
subprocess32==3.5.2
tensorboard==1.10.0
tensorflow==1.10.0
tensorflow-tensorboard==1.5.1
termcolor==1.1.0
traitlets==4.3.2
urllib3==1.23
wcwidth==0.1.7
Werkzeug==0.14.1
